In [1]:
!pip install -q yfinance

In [13]:
import yfinance as yf
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

# Lendo o arquivo de excel com a base de dados.
* Nesse caso está lendo a aba "cv" da coluna A até H. ✅

In [17]:
base_dados = ('holding.xlsm')
df = pd.read_excel(base_dados, sheet_name='cv', usecols="A:H")
df

,DATA,MÊS,ANO,C/V,ATIVO,QUANTIDADE,PREÇO,VALOR TOTAL
0,2020-02-14,FEB,2020,COMPRA,BIDI4,100,16.190000,1619.000000
1,2020-02-14,FEB,2020,COMPRA,BOVA11,10,110.190000,1101.900000
2,2020-02-14,FEB,2020,COMPRA,COGN3,100,11.780000,1178.000000
3,2020-02-14,FEB,2020,COMPRA,ECOR3,100,17.120000,1712.000000
4,2020-02-17,FEB,2020,COMPRA,MRFG3,100,12.340000,1234.000000
...,...,...,...,...,...,...,...,...
1071,2023-05-31,MAY,2023,COMPRA,FLRY3,100,15.620000,1562.000000
1072,2023-06-14,JUN,2023,BONIFICAÇÃO,FLRY3,91,6.524294,593.710712
1073,2023-06-16,JUN,2023,COMPRA,EGIE3,53,45.190000,2395.070000
1074,2023-06-16,JUN,2023,COMPRA,TAEE3,100,12.620000,1262.000000
1075,2023-06-16,JUN,2023,COMPRA,TRPL4,65,25.259500,1641.867500

* Calculando a soma de ATIVOS na coluna QUANTIDADE ✅
* Filtrando os ativos com quantidade > 1 para remoção de alguns ativos indesejados.

In [24]:
df_total_ativos = df.groupby('ATIVO')['QUANTIDADE'].sum()
df_total_ativos = df_total_ativos[df_total_ativos > 1]
df_total_ativos

ATIVO
ABCB4         900
BBAS3        1457
BBDC3         800
BBDC4         900
BBSE3        1900
DOLAR         100
EGIE3         700
FLRY3        1915
IRBR1          28
ITSA4        2500
JHSF3       10694
MXRF12        176
POUPANÇA       44
PSSA3         612
SANB3        1100
SAPR4        4478
TAEE3        1600
TRPL4        2265
Name: QUANTIDADE, dtype: int64